USE [g07_zoo]
GO
/****** Object:  Table [dbo].[ZOO_BENH]    Script Date: 12/7/2016 8:52:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_BENH](
	[MaBenh] [varchar](15) NOT NULL,
	[TenBenh] [nvarchar](50) NULL,
	[ThoiGianBenh] [datetime] NULL,
	[TrieuChung] [nvarchar](300) NULL,
	[TinhTrang] [varchar](15) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_BENH] PRIMARY KEY CLUSTERED 
(
	[MaBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_CHOAN]    Script Date: 12/7/2016 8:52:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_CHOAN](
	[MaChoAn] [varchar](15) NOT NULL,
	[MaChuong] [varchar](15) NULL,
	[MaKhauPhanAn] [varchar](15) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_CHOAN] PRIMARY KEY CLUSTERED 
(
	[MaChoAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_CHUONG]    Script Date: 12/7/2016 8:52:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_CHUONG](
	[MaChuong] [varchar](15) NOT NULL,
	[MaLoaiChuong] [varchar](15) NULL,
	[MaLoaiDV] [varchar](15) NULL,
	[TenChuong] [nvarchar](50) NULL,
	[SoLuongHienTai] [int] NULL,
	[SoLuongToiDa] [int] NULL,
	[TinhTrang] [varchar](15) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_CHUONG] PRIMARY KEY CLUSTERED 
(
	[MaChuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_DIEUTRI]    Script Date: 12/7/2016 8:52:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_DIEUTRI](
	[MaDieuTri] [varchar](15) NOT NULL,
	[MaBenh] [varchar](15) NULL,
	[MaDongVat] [varchar](15) NULL,
	[NgayDieuTri] [datetime] NULL,
	[NgayBenh] [datetime] NULL,
	[TinhTrang] [varchar](15) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_BANGDIEUTRI] PRIMARY KEY CLUSTERED 
(
	[MaDieuTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_DONGVAT]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_DONGVAT](
	[MaDongVat] [varchar](15) NOT NULL,
	[TenDongVat] [nvarchar](50) NULL,
	[TenKhoaHoc] [nvarchar](50) NULL,
	[MaLoaiDV] [varchar](15) NULL,
	[MaMe] [varchar](15) NULL,
	[MaCha] [varchar](15) NULL,
	[MaChuong] [varchar](15) NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[Mau] [nvarchar](20) NULL,
	[CanNang] [float] NULL,
	[ChieuCao] [float] NULL,
	[ChieuDai] [float] NULL,
	[NgaySinh] [datetime] NULL,
	[NgayNhapVe] [datetime] NULL,
	[TinhTrang] [varchar](15) NULL,
	[HinhThucGiamSat] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[NoiXuatXu] [nvarchar](100) NULL,
	[NoiCuTru] [nvarchar](100) NULL,
	[TuoiTho] [int] NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_DONGVAT] PRIMARY KEY CLUSTERED 
(
	[MaDongVat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_DONTHUOC]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_DONTHUOC](
	[MaDonThuoc] [nchar](10) NOT NULL,
	[MaBenh] [varchar](15) NOT NULL,
	[MaThuoc] [varchar](15) NULL,
	[SoLuong] [int] NULL,
	[MoTa] [nvarchar](1000) NULL,
	[NOTES] [nchar](10) NULL,
	[RECORD_STATUS] [nchar](10) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_DONTHUOC] PRIMARY KEY CLUSTERED 
(
	[MaDonThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_HOSO]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_HOSO](
	[MaHoSo] [varchar](15) NOT NULL,
	[TenHoSo] [nvarchar](50) NULL,
	[LoaiHoSo] [varchar](15) NULL,
	[TrangThai] [varchar](15) NULL,
	[MoTa] [nvarchar](1000) NULL,
	[NoiDung] [nvarchar](1000) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_HOSO] PRIMARY KEY CLUSTERED 
(
	[MaHoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_KHAUPHANAN]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_KHAUPHANAN](
	[MaKhauPhanAn] [varchar](15) NOT NULL,
	[MaLoai] [varchar](15) NULL,
	[MaTrangThai] [varchar](15) NULL,
	[ThoiGianAn] [datetime] NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_KHAUPHANAN] PRIMARY KEY CLUSTERED 
(
	[MaKhauPhanAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_LOAIDV]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_LOAIDV](
	[MaLoai] [varchar](15) NOT NULL,
	[TenLoai] [varchar](50) NULL,
	[Loai] [varchar](50) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_LOAIDV] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_LOTHUOC]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_LOTHUOC](
	[MaLo] [varchar](15) NOT NULL,
	[MaThuoc] [varchar](15) NULL,
	[SoLo] [varchar](20) NULL,
	[NgaySanXuat] [datetime] NULL,
	[NgayHetHan] [datetime] NULL,
	[SoLuong] [int] NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_LOTHUOC] PRIMARY KEY CLUSTERED 
(
	[MaLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_NHANVIEN]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_NHANVIEN](
	[MaNhanVien] [varchar](15) NOT NULL,
	[LoaiNhanVien] [nvarchar](50) NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](80) NULL,
	[CMND] [varchar](20) NULL,
	[SDT] [varchar](20) NULL,
	[NgayVaoLam] [datetime] NULL,
	[TinhTrang] [varchar](15) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_PHANCONGCHOAN]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_PHANCONGCHOAN](
	[MaPhanCong] [varchar](15) NOT NULL,
	[MaNhanVien] [varchar](15) NOT NULL,
	[MaChoAn] [varchar](15) NULL,
	[Mota] [nvarchar](1000) NULL,
	[NgayChoAn] [datetime] NULL,
	[TinhTrang] [varchar](15) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_PHANCONGCHOAN] PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_PHANCONGDIEUTRI]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_PHANCONGDIEUTRI](
	[MaPhanCong] [varchar](15) NOT NULL,
	[MaNhanVien] [varchar](15) NULL,
	[MaDieuTri] [varchar](15) NULL,
	[MoTa] [nvarchar](1000) NULL,
	[TinhTrang] [varchar](15) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_PHANCONGDIEUTRI] PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_PHANCONGVESINH]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_PHANCONGVESINH](
	[MaPhanCong] [varchar](15) NOT NULL,
	[MaNhanVien] [varchar](15) NULL,
	[MaChuong] [varchar](15) NULL,
	[Mota] [nvarchar](50) NULL,
	[NgayLam] [datetime] NULL,
	[TinhTrang] [varchar](15) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_BANGPHANCONGVESINH] PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_PHIEUDATTHUCAN]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_PHIEUDATTHUCAN](
	[MaPhieuDat] [varchar](15) NOT NULL,
	[MaThucAn] [varchar](15) NULL,
	[SoLuong] [int] NULL,
	[TinhTrang] [varchar](15) NULL,
	[NgayDat] [datetime] NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_PHIEUDATTHUCAN] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_PHIEUDATTHUOC]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_PHIEUDATTHUOC](
	[MaPhieuDat] [varchar](15) NOT NULL,
	[MaThuoc] [varchar](15) NULL,
	[SoLuong] [int] NULL,
	[TinhTrang] [varchar](15) NULL,
	[NgayDat] [datetime] NOT NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_PHIEUDATTHUOC] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_PHIEUNHAPTHUCAN]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_PHIEUNHAPTHUCAN](
	[MaPhieuNhap] [varchar](15) NOT NULL,
	[MaThucAn] [varchar](15) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_PHIEUNHAPTHUCAN] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_PHIEUNHAPTHUOC]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_PHIEUNHAPTHUOC](
	[MaPhieuNhap] [varchar](15) NOT NULL,
	[MaLo] [varchar](15) NULL,
	[SoLuong] [int] NULL,
	[NgayNhap] [datetime] NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_PHIEUNHAPTHUOC] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_PHIEUXUATTHUCAN]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_PHIEUXUATTHUCAN](
	[MaPhieuXuat] [varchar](15) NOT NULL,
	[MaThucAn] [varchar](15) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TinhTrang] [varchar](15) NOT NULL,
	[NgayXuat] [datetime] NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_PHIEUXUATTHUCAN] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_PHIEUXUATTHUOC]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_PHIEUXUATTHUOC](
	[MaPhieuXuat] [varchar](15) NOT NULL,
	[MaLo] [varchar](15) NULL,
	[SoLuong] [int] NULL,
	[NgayXuat] [datetime] NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_PHIEUXUATTHUOC] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_STATUS]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_STATUS](
	[MaTrangThai] [varchar](15) NOT NULL,
	[TenTrangThai] [nvarchar](50) NULL,
	[LoaiTrangThai] [varchar](50) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_STATUS] PRIMARY KEY CLUSTERED 
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_THUCAN]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_THUCAN](
	[MaThucAn] [varchar](15) NOT NULL,
	[LoaiThucAn] [varchar](15) NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[TenThucAn] [nvarchar](50) NULL,
	[SoLuong] [float] NULL,
	[NgayNhap] [datetime] NULL,
	[TinhTrang] [varchar](15) NULL,
	[HamLuongDinhDuong] [nvarchar](100) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_THUCAN] PRIMARY KEY CLUSTERED 
(
	[MaThucAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_THUCDON]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_THUCDON](
	[MaThucAn] [varchar](15) NOT NULL,
	[MaKhauPhanAn] [varchar](15) NULL,
	[SoLuong] [int] NULL,
	[MoTa] [nvarchar](1000) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_THUOC]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_THUOC](
	[MaThuoc] [varchar](15) NOT NULL,
	[TenThuoc] [nvarchar](50) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[TinhTrang] [varchar](15) NULL,
	[MoTa] [nvarchar](1000) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_THUOCDIEUTRI] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZOO_TYPE]    Script Date: 12/7/2016 8:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZOO_TYPE](
	[MaLoai] [varchar](15) NOT NULL,
	[Loai] [varchar](50) NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[Mota] [nvarchar](1000) NULL,
	[NOTES] [nvarchar](1000) NULL,
	[RECORD_STATUS] [varchar](1) NULL,
	[MAKER_ID] [varchar](15) NULL,
	[CREATE_DT] [datetime] NULL,
	[AUTH_STATUS] [varchar](50) NULL,
	[CHECKER_ID] [varchar](15) NULL,
	[APPROVE_DT] [datetime] NULL,
 CONSTRAINT [PK_ZOO_TYPE] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ZOO_CHOAN]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_CHOAN_ZOO_CHUONG1] FOREIGN KEY([MaChuong])
REFERENCES [dbo].[ZOO_CHUONG] ([MaChuong])
GO
ALTER TABLE [dbo].[ZOO_CHOAN] CHECK CONSTRAINT [FK_ZOO_CHOAN_ZOO_CHUONG1]
GO
ALTER TABLE [dbo].[ZOO_CHOAN]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_CHOAN_ZOO_KHAUPHANAN1] FOREIGN KEY([MaKhauPhanAn])
REFERENCES [dbo].[ZOO_KHAUPHANAN] ([MaKhauPhanAn])
GO
ALTER TABLE [dbo].[ZOO_CHOAN] CHECK CONSTRAINT [FK_ZOO_CHOAN_ZOO_KHAUPHANAN1]
GO
ALTER TABLE [dbo].[ZOO_CHUONG]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_CHUONG_ZOO_LOAIDV] FOREIGN KEY([MaLoaiDV])
REFERENCES [dbo].[ZOO_LOAIDV] ([MaLoai])
GO
ALTER TABLE [dbo].[ZOO_CHUONG] CHECK CONSTRAINT [FK_ZOO_CHUONG_ZOO_LOAIDV]
GO
ALTER TABLE [dbo].[ZOO_CHUONG]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_CHUONG_ZOO_TYPE] FOREIGN KEY([MaLoaiChuong])
REFERENCES [dbo].[ZOO_TYPE] ([MaLoai])
GO
ALTER TABLE [dbo].[ZOO_CHUONG] CHECK CONSTRAINT [FK_ZOO_CHUONG_ZOO_TYPE]
GO
ALTER TABLE [dbo].[ZOO_DIEUTRI]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_DIEUTRI_ZOO_BENH] FOREIGN KEY([MaBenh])
REFERENCES [dbo].[ZOO_BENH] ([MaBenh])
GO
ALTER TABLE [dbo].[ZOO_DIEUTRI] CHECK CONSTRAINT [FK_ZOO_DIEUTRI_ZOO_BENH]
GO
ALTER TABLE [dbo].[ZOO_DIEUTRI]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_DIEUTRI_ZOO_DONGVAT] FOREIGN KEY([MaDongVat])
REFERENCES [dbo].[ZOO_DONGVAT] ([MaDongVat])
GO
ALTER TABLE [dbo].[ZOO_DIEUTRI] CHECK CONSTRAINT [FK_ZOO_DIEUTRI_ZOO_DONGVAT]
GO
ALTER TABLE [dbo].[ZOO_DONGVAT]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_DONGVAT_ZOO_CHUONG1] FOREIGN KEY([MaChuong])
REFERENCES [dbo].[ZOO_CHUONG] ([MaChuong])
GO
ALTER TABLE [dbo].[ZOO_DONGVAT] CHECK CONSTRAINT [FK_ZOO_DONGVAT_ZOO_CHUONG1]
GO
ALTER TABLE [dbo].[ZOO_DONGVAT]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_DONGVAT_ZOO_LOAIDV] FOREIGN KEY([MaLoaiDV])
REFERENCES [dbo].[ZOO_LOAIDV] ([MaLoai])
GO
ALTER TABLE [dbo].[ZOO_DONGVAT] CHECK CONSTRAINT [FK_ZOO_DONGVAT_ZOO_LOAIDV]
GO
ALTER TABLE [dbo].[ZOO_DONTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_DONTHUOC_ZOO_BENH1] FOREIGN KEY([MaBenh])
REFERENCES [dbo].[ZOO_BENH] ([MaBenh])
GO
ALTER TABLE [dbo].[ZOO_DONTHUOC] CHECK CONSTRAINT [FK_ZOO_DONTHUOC_ZOO_BENH1]
GO
ALTER TABLE [dbo].[ZOO_DONTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_DONTHUOC_ZOO_THUOC] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[ZOO_THUOC] ([MaThuoc])
GO
ALTER TABLE [dbo].[ZOO_DONTHUOC] CHECK CONSTRAINT [FK_ZOO_DONTHUOC_ZOO_THUOC]
GO
ALTER TABLE [dbo].[ZOO_HOSO]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_HOSO_ZOO_TYPE] FOREIGN KEY([LoaiHoSo])
REFERENCES [dbo].[ZOO_TYPE] ([MaLoai])
GO
ALTER TABLE [dbo].[ZOO_HOSO] CHECK CONSTRAINT [FK_ZOO_HOSO_ZOO_TYPE]
GO
ALTER TABLE [dbo].[ZOO_KHAUPHANAN]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_KHAUPHANAN_ZOO_LOAIDV] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[ZOO_LOAIDV] ([MaLoai])
GO
ALTER TABLE [dbo].[ZOO_KHAUPHANAN] CHECK CONSTRAINT [FK_ZOO_KHAUPHANAN_ZOO_LOAIDV]
GO
ALTER TABLE [dbo].[ZOO_LOTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_LOTHUOC_ZOO_THUOC] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[ZOO_THUOC] ([MaThuoc])
GO
ALTER TABLE [dbo].[ZOO_LOTHUOC] CHECK CONSTRAINT [FK_ZOO_LOTHUOC_ZOO_THUOC]
GO
ALTER TABLE [dbo].[ZOO_PHANCONGCHOAN]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_PHANCONGCHOAN_ZOO_CHOAN] FOREIGN KEY([MaChoAn])
REFERENCES [dbo].[ZOO_CHOAN] ([MaChoAn])
GO
ALTER TABLE [dbo].[ZOO_PHANCONGCHOAN] CHECK CONSTRAINT [FK_ZOO_PHANCONGCHOAN_ZOO_CHOAN]
GO
ALTER TABLE [dbo].[ZOO_PHANCONGCHOAN]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_PHANCONGCHOAN_ZOO_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[ZOO_NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ZOO_PHANCONGCHOAN] CHECK CONSTRAINT [FK_ZOO_PHANCONGCHOAN_ZOO_NHANVIEN]
GO
ALTER TABLE [dbo].[ZOO_PHANCONGDIEUTRI]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_PHANCONGDIEUTRI_ZOO_DIEUTRI] FOREIGN KEY([MaDieuTri])
REFERENCES [dbo].[ZOO_DIEUTRI] ([MaDieuTri])
GO
ALTER TABLE [dbo].[ZOO_PHANCONGDIEUTRI] CHECK CONSTRAINT [FK_ZOO_PHANCONGDIEUTRI_ZOO_DIEUTRI]
GO
ALTER TABLE [dbo].[ZOO_PHANCONGDIEUTRI]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_PHANCONGDIEUTRI_ZOO_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[ZOO_NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ZOO_PHANCONGDIEUTRI] CHECK CONSTRAINT [FK_ZOO_PHANCONGDIEUTRI_ZOO_NHANVIEN]
GO
ALTER TABLE [dbo].[ZOO_PHANCONGVESINH]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_PHANCONGVESINH_ZOO_CHUONG] FOREIGN KEY([MaChuong])
REFERENCES [dbo].[ZOO_CHUONG] ([MaChuong])
GO
ALTER TABLE [dbo].[ZOO_PHANCONGVESINH] CHECK CONSTRAINT [FK_ZOO_PHANCONGVESINH_ZOO_CHUONG]
GO
ALTER TABLE [dbo].[ZOO_PHANCONGVESINH]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_PHANCONGVESINH_ZOO_NHANVIEN1] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[ZOO_NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ZOO_PHANCONGVESINH] CHECK CONSTRAINT [FK_ZOO_PHANCONGVESINH_ZOO_NHANVIEN1]
GO
ALTER TABLE [dbo].[ZOO_PHIEUDATTHUCAN]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_PHIEUDATTHUCAN_ZOO_THUCAN1] FOREIGN KEY([MaThucAn])
REFERENCES [dbo].[ZOO_THUCAN] ([MaThucAn])
GO
ALTER TABLE [dbo].[ZOO_PHIEUDATTHUCAN] CHECK CONSTRAINT [FK_ZOO_PHIEUDATTHUCAN_ZOO_THUCAN1]
GO
ALTER TABLE [dbo].[ZOO_PHIEUDATTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_PHIEUDATTHUOC_ZOO_THUOC] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[ZOO_THUOC] ([MaThuoc])
GO
ALTER TABLE [dbo].[ZOO_PHIEUDATTHUOC] CHECK CONSTRAINT [FK_ZOO_PHIEUDATTHUOC_ZOO_THUOC]
GO
ALTER TABLE [dbo].[ZOO_PHIEUNHAPTHUCAN]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_PHIEUNHAPTHUCAN_ZOO_THUCAN] FOREIGN KEY([MaThucAn])
REFERENCES [dbo].[ZOO_THUCAN] ([MaThucAn])
GO
ALTER TABLE [dbo].[ZOO_PHIEUNHAPTHUCAN] CHECK CONSTRAINT [FK_ZOO_PHIEUNHAPTHUCAN_ZOO_THUCAN]
GO
ALTER TABLE [dbo].[ZOO_PHIEUNHAPTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_PHIEUNHAPTHUOC_ZOO_LOTHUOC] FOREIGN KEY([MaLo])
REFERENCES [dbo].[ZOO_LOTHUOC] ([MaLo])
GO
ALTER TABLE [dbo].[ZOO_PHIEUNHAPTHUOC] CHECK CONSTRAINT [FK_ZOO_PHIEUNHAPTHUOC_ZOO_LOTHUOC]
GO
ALTER TABLE [dbo].[ZOO_PHIEUXUATTHUCAN]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_PHIEUXUATTHUCAN_ZOO_THUCAN1] FOREIGN KEY([MaThucAn])
REFERENCES [dbo].[ZOO_THUCAN] ([MaThucAn])
GO
ALTER TABLE [dbo].[ZOO_PHIEUXUATTHUCAN] CHECK CONSTRAINT [FK_ZOO_PHIEUXUATTHUCAN_ZOO_THUCAN1]
GO
ALTER TABLE [dbo].[ZOO_PHIEUXUATTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_PHIEUXUATTHUOC_ZOO_LOTHUOC] FOREIGN KEY([MaLo])
REFERENCES [dbo].[ZOO_LOTHUOC] ([MaLo])
GO
ALTER TABLE [dbo].[ZOO_PHIEUXUATTHUOC] CHECK CONSTRAINT [FK_ZOO_PHIEUXUATTHUOC_ZOO_LOTHUOC]
GO
ALTER TABLE [dbo].[ZOO_THUCAN]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_THUCAN_ZOO_TYPE] FOREIGN KEY([LoaiThucAn])
REFERENCES [dbo].[ZOO_TYPE] ([MaLoai])
GO
ALTER TABLE [dbo].[ZOO_THUCAN] CHECK CONSTRAINT [FK_ZOO_THUCAN_ZOO_TYPE]
GO
ALTER TABLE [dbo].[ZOO_THUCDON]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_THUCDON_ZOO_KHAUPHANAN] FOREIGN KEY([MaKhauPhanAn])
REFERENCES [dbo].[ZOO_KHAUPHANAN] ([MaKhauPhanAn])
GO
ALTER TABLE [dbo].[ZOO_THUCDON] CHECK CONSTRAINT [FK_ZOO_THUCDON_ZOO_KHAUPHANAN]
GO
ALTER TABLE [dbo].[ZOO_THUCDON]  WITH CHECK ADD  CONSTRAINT [FK_ZOO_THUCDON_ZOO_THUCAN] FOREIGN KEY([MaThucAn])
REFERENCES [dbo].[ZOO_THUCAN] ([MaThucAn])
GO
ALTER TABLE [dbo].[ZOO_THUCDON] CHECK CONSTRAINT [FK_ZOO_THUCDON_ZOO_THUCAN]
GO
